/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CID]
      ,[Name]
      ,[age]
      ,[Addrress]
      ,[Email]
      ,[Salary]
  FROM [companyy].[dbo].[customer]
  USE companyy
  select * from customer
  --update and delete are DML
  UPDATE customer set name ='Emebet',age=35,addrress='enewari',email='emu@gmail.com',salary=10000 where CID =1006
  ---ALATER AND DROP are DDL
  ALTER table customer add gender varchar(20);
  use companyy;
go
select
     CID,
     Name,
     age, 
	 gender,
     addrress,
     Email,
     salary
FROM
    customer;

