/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CID]
      ,[Name]
      ,[age]
      ,[Addrress]
      ,[Email]
      ,[Salary]
      ,[gender]
  FROM [companyy].[dbo].[customer]
  use companyy
  go
  select 
  name,
  age,
  gender,
  addrress,
  email,
  salary
  from
  customer;
  select * from customer